<%= form_for(earning, remote: true,  html:{id: 'company_earnings_form'}) do |f| %>
  <% if earning.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(earning.errors.count, "error") %> prohibited this earning from being saved:</h2>

    <ul>
      <% earning.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

   <div class="row">
     <div class="col-md-12">
       <div class="form-group">
         <%= f.label :certification_id, class: "form-label" %>
         <% if earning.id != nil%>
         <% @certification_title = Certification.find_by_id(earning.certification_id).title%>
         <%else%>
         <% @certification_title =  ''%>
         <%end%>
         <%= text_area_tag :certification_title , @certification_title , class: "typeahead form-control certification_title" , id: "autocomplete"%>
       </div>
     </div>
   </div>

  <%= f.hidden_field :certification_id , class: "typeahead form-control certification_id" , id: "cert_id"%>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :start_year, class: "form-label" %>
        <% @start_year = {}%>
        <% if earning.id == nil%>
        <% @start_year = JalaliDate.to_jalali(Time.now).year.to_i%>
        <%else%>
        <% @start_year = earning.start_year.to_i %>
        <%end%>
        <%= f.select :start_year, options_for_select((1300..@start_year).reverse_each, @start_year), {:include_blank => true},{class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :end_year, class: "form-label" %>
        <% @end_year = {}%>
        <% if earning.id == nil%>
        <% @end_year = JalaliDate.to_jalali(Time.now).year.to_i%>
        <%else%>
        <% @end_year = earning.end_year.to_i %>
        <%end%>
        <%= f.select :end_year, options_for_select((1300..@end_year).reverse_each, @end_year), {:include_blank => true},{class: "form-control"} %>
      </div>
    </div>
  </div>

  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  <% end %>
