<div id='profile-viewpoints'>
  <ul class="list-group card-list-group">
    <% for viewpoint in user.viewpoints%>
    <li class="list-group-item py-5">
      <div class="media">
        <div class="media-object avatar avatar-md mr-4" style="background-image: url(<%= user.profile.avatar(:thumb)%>)"></div>
        <div class="media-body">
          <div class="media-heading">
            <small class="float-right text-muted">
              <%= link_to viewpoint, method: :delete, remote: true, data: { confirm: "#{t(:are_you_sure_?)}" } do%>
                <i class="fe fe-trash"></i>
              <%end%>
            </small>
            <small class="float-right text-muted"></small>
            <h5><%= user.profile.fullname%></h5>
          </div>
          <div class="text-justify">
            <%= viewpoint.content%>
          </div>
          <div class='text-right' style="font-style:italic;color: #b5b5b5;font-size: smaller;">
              <%= viewpoint.created_at%>
          </div>
        </div>
      </div>
    </li>
    <%end%>
  </ul>
</div>
