<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @membership.profile_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @membership.company_id %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
