<%= form_for(honor, remote: true,  html:{id: 'company_honors_form'}) do |f| %>
  <% if honor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(honor.errors.count, "error") %> prohibited this honor from being saved:</h2>

    <ul>
      <% honor.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

   <div class="row">
     <div class="col-md-12">
       <div class="form-group">
         <%= f.label :title, class: "form-label" %>
         <%= f.text_area :title , class: "form-control"%>
       </div>
     </div>
   </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :year, class: "form-label" %>
        <% @now = {}%>
        <% if honor.id == nil%>
        <% @now = JalaliDate.to_jalali(Time.now).year.to_i%>
        <%else%>
        <% @now = honor.year.to_i %>
        <%end%>
        <%= f.select :year, options_for_select(1300..@now, @now), {},{class: "form-control"} %>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <button type="submit" class="btn btn-primary"><%=t :submit%></button>
  </div>
  <% end %>
