<%= form_for(faq, remote: true,  html:{id: 'product_faqs_form'}) do |f| %>
<% if faq.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(faq.errors.count, "error") %> prohibited this faq from being saved:</h2>

  <ul>
    <% faq.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :question, class: "form-label" %>
      <%= f.text_field :question , class: "form-control" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :answer, class: "form-label" %>
      <%= f.text_area :answer , class: "form-control" %>
    </div>
  </div>
</div>
<%= hidden_field_tag :product_id, product.id%>

<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
