<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
    <tbody>
      <% @likes.each do |like| %>
      <tr>
            <td><%= like.likeable_id %></td>
            <td><%= like.likeable_type %></td>
            <td><%= link_to t(:show), like %></td>
      <td><%= link_to t(:edit), edit_like_path(like) %></td>
      <td><%= link_to t(:destroy), like, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
