<div class='pcontainer'>
  <ul class="progressbar">
      <li <% if active.include?('new_company')%> class="active" <%end%>><%= link_to t(:company_info), '/companies/'+company.id.to_s+'/edit' %></li>
      <% if company.id != nil%>
      <li <% if active.include?('company_colleagues')%> class="active" <%end%>><%= link_to t(:colleagues), '/companies/company_colleagues/'+ company.id.to_s %></li>
      <li <% if active.include?('company_exhibitions')%> class="active" <%end%>><%= link_to t(:company_exhibitions), '/companies/company_exhibitions/'+ company.id.to_s %></li>
      <li <% if active.include?('company_certificates')%> class="active" <%end%>><%= link_to t(:company_certificates), '/companies/company_certificates/'+ company.id.to_s %></li>
      <li <% if active.include?('company_honors')%> class="active" <%end%>><%= link_to t(:company_honors), '/companies/company_honors/'+ company.id.to_s %></li>
      <li <% if active.include?('company_album')%> class="active" <%end%>><%= link_to t(:company_album), '/companies/company_album/'+ company.id.to_s %></li>
      <%end%>
  </ul>
</div>

<div class="alert alert-primary mt-5 ">
    <div><%=t :in_this_section%><strong> <%=t active.last%> </strong><%=t :is_filled%>. </div>
</div>
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert"></button>
  <i class="fe fe-info" style="vertical-align: middle;"></i> <%=t :for_detailed_help_see_bellow%>.
</div>
