<div class="row">

  <div class="col-lg-3  mb-4">
    <div class="card card-profile">
      <div class="card-header" style="background-color: #3e668a;"></div>
      <div class="card-body text-center">
        <%= image_tag @company.logo(:medium), class: "card-profile-img"%>
        <h3 class="mb-3"><%= @company.name%></h3>
        <ul class="social-links list-inline mb-0 mt-2">
          <li class="list-inline-item mb-0">
            <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Facebook" aria-describedby="tooltip244372"><i class="fe fe-at-sign"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="1234567890"><i class="fa fa-telegram"></i></a>
          </li>

        </ul>
      </div>
    </div>
    <!-- Getting started -->
    <% if current_user.id == @company.user_id%>
    <div class="list-group list-group-transparent mb-0">
        <%= link_to t(:edit), '/companies/'+@company.id.to_s+'/edit', class: "list-group-item list-group-item-action active" %>
    </div>
    <%end%>
  </div>

  <div class="col-lg-9 order-lg-1">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :company_info%></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='row'>
          <div class='col-md-6 col-lg-6'>

            <div class="form-group">
              <%= label :company, :name , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.name%></div>
            </div>
            <div class="form-group">
              <%= label :company, :telphone , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.telphone%></div>
            </div>
            <div class="form-group">
              <%= label :company, :fax , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.fax%></div>
            </div>
            <div class="form-group">
              <%= label :company, :email , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.email%></div>
            </div>
            <div class="form-group">
              <%= label :company, :telegram_channel , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.telegram_channel%></div>
            </div>
            <div class="form-group">
              <%= label :company, :instagram_page , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.telegram_channel%></div>
            </div>
          </div>

          <div class='col-md-6 col-lg-6'>
            <div class="form-group">
              <%= label :company, :year_established , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.year_established%></div>
            </div>
            <div class="form-group">
              <%= label :company, :total_employees , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.total_employees%></div>
            </div>
            <div class="form-group">
              <%= label :company, :headquarter_address , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.headquarter_address%></div>
            </div>
            <div class="form-group">
              <%= label :company, :shop_address , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.shop_address%></div>
            </div>
            <div class="form-group">
              <%= label :company, :factory_address , class: "form-label", style: 'color: #7795c1;'%>
              <div class="form-control-plaintext"><%= @company.factory_address%></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :colleagues%></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <% for profile in @company.profiles%>
        <div class="d-flex align-items-center mb-5">
          <div class="avatar avatar-md mr-3" style="background-image: url(./demo/faces/female/18.jpg)"></div>
          <div>
            <a href="./profile.html" class="text-default"><%= profile.fullname%></a>
            <% @membership = Membership.where(profile_id: profile.id, company_id: @company.id).first%>
            <small class="d-block text-muted"><%= @membership.role.title%></small>
          </div>
        </div>
        <%end%>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :company_exhibitions%></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table card-table table-striped table-vcenter">
            <thead>
              <tr>
                <th><%=t :title%></th>
                <th><%=t :year%></th>
              </tr>
            </thead>
            <tbody>
              <% for participation in @company.participations%>
              <% @exhibition = Exhibition.find(participation.exhibition_id)%>
              <tr>
                <td><small><%= truncate(@exhibition.title, length: 70) %></small></td>
                <td><%= participation.year%></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <hr class='mb-2'/>
        <h5><%=t :exhibitions_pictures%></h5>
        <div class='mb-2'>
          <% for upload in Upload.where(uploadable_type: 'Company', uploadable_id: @company.id, attachment_type: 'exhibitions_pictures')%>
          <a href="#" data-featherlight="<%= upload.attachment(:large)%>" data-featherlight-type="image">
          <%= image_tag upload.attachment(:thumb)%>
          </a>
          <%end%>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :company_certificates%></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table card-table table-striped table-vcenter">
            <thead>
              <tr>
                <th><%=t :title%></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for earning in @company.earnings%>
              <% @certification = Certification.find(earning.certification_id)%>
              <tr>
                <td><small><%= truncate(@certification.title, length: 50) %></small></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <hr class='mb-2'/>
        <h5><%=t :certifications_pictures%></h5>
        <div class='mb-2'>
          <% for upload in Upload.where(uploadable_type: 'Company', uploadable_id: @company.id, attachment_type: 'certifications_pictures')%>
          <a href="#" data-featherlight="<%= upload.attachment(:large)%>" data-featherlight-type="image">
          <%= image_tag upload.attachment(:thumb)%>
          </a>
          <%end%>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :company_honors%></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table card-table table-striped table-vcenter">
            <thead>
              <tr>
                <th><%=t :title%></th>
                <th><%=t :year%></th>
              </tr>
            </thead>
            <tbody>
              <% for participation in @company.participations%>
              <% @exhibition = Exhibition.find(participation.exhibition_id)%>
              <tr>
                <td><small><%= truncate(@exhibition.title, length: 50) %></small></td>
                <td><%= participation.year%></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
        <hr class='mb-2'/>
        <h5><%=t :honors_pictures%></h5>
        <div class='mb-2'>
          <% for upload in Upload.where(uploadable_type: 'Company', uploadable_id: @company.id, attachment_type: 'honors_pictures')%>
          <a href="#" data-featherlight="<%= upload.attachment(:large)%>" data-featherlight-type="image">
          <%= image_tag upload.attachment(:thumb)%>
          </a>
          <%end%>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%=t :company_album%></h3>
        <div class="card-options">
          <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        </div>
      </div>
      <div class="card-body">
        <div class='mb-2'>
          <% for upload in Upload.where(uploadable_type: 'Company', uploadable_id: @company.id, attachment_type: 'honors_pictures')%>
          <a href="#" data-featherlight="<%= upload.attachment(:large)%>" data-featherlight-type="image">
          <%= image_tag upload.attachment(:thumb)%>
          </a>
          <%end%>
        </div>
      </div>
    </div>

  </div>
</div>
