<%= form_for(packaging, remote: true,  html:{id: 'product_packaging_form'}) do |f| %>
<% if packaging.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(packaging.errors.count, "error") %> prohibited this packaging from being saved:</h2>

  <ul>
    <% packaging.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :dimensions, class: "form-label" %>
      <%= f.text_field :dimensions , class: "form-control" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :weight, class: "form-label" %>
      <%= f.text_field :weight , class: "form-control" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :weight_scale, class: "form-label" %>
      <%= f.select( :weight_scale, weight_scales, {}, {:class => "form-control"})  %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :packaging_type, class: "form-label" %>
      <%= f.select :packaging_type_id, PackagingType.all.collect { |p| [ p.title, p.id ] } , {} ,{ :class => "form-control"}%>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :color, class: "form-label" %>
      <%= f.text_field :color , class: "form-control" %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= f.label :delivery_detail, class: "form-label" %>
      <%= f.text_area :delivery_detail , class: "form-control" %>
    </div>
  </div>
</div>
<%= hidden_field_tag :product_id, product.id%>

<div class="card-footer text-right">
  <button type="submit" class="btn btn-primary"><%=t :submit%></button>
</div>
<% end %>
