<ul class="progressbar">
    <li <% if active.include?('new_product')%> class="active" <%end%>><%= link_to t(:new_product), '/products/'+product.id.to_s+'/edit'  %></li>
    <% if product.id != nil%>
    <li <% if active.include?('product_pictures')%> class="active" <%end%>><%= link_to t(:product_pictures), '/products/product_pictures/'+product.id.to_s%></li>
    <li <% if active.include?('product_documents')%> class="active" <%end%>><%= link_to t(:product_documents), '/products/product_documents/'+product.id.to_s%></li>
    <li <% if active.include?('packaging_and_shipppment')%> class="active" <%end%>><%= link_to t(:packaging_and_shipppment), '/products/product_packaging/'+product.id.to_s%></li>
    <li <% if active.include?('product_customers')%> class="active" <%end%>><%= link_to t(:product_customers), '/products/product_customers/'+product.id.to_s %></li>
    <li <% if active.include?('product_faq')%> class="active" <%end%>><%= link_to t(:product_faq), '/products/product_faq/'+product.id.to_s%></li>
    <%end%>
</ul>
<div class="alert alert-primary mt-5 ">
    <div><%=t :in_this_section%><strong> <%=t active.last%> </strong><%=t :is_filled%>. </div>
</div>
<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert"></button>
  <i class="fe fe-info" style="vertical-align: middle;"></i> <%=t :for_detailed_help_see_bellow%>.
</div>
