<%= render partial: 'products/progress_bar', locals: {product: @product, active: ['new_product', 'product_pictures', 'product_documents', 'packaging_and_shipppment', 'product_customers' ]}%>
<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%=t :packaging_and_shipppment%></h3>
  </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam deleniti fugit incidunt, iste, itaque minima neque pariatur perferendis sed suscipit velit vitae voluptatem. A consequuntur, deserunt eaque error nulla temporibus!
    <div class="text-wrap">
      <ul>
        <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
        <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
      </ul>
    </div>
  </div>

  <div class="card-footer text-right">
    <a href='/products/product_packaging/<%= @product.id%>' class="btn btn-lime"><%=t :back%></a>
    <a href='/products/product_faq/<%= @product.id%>' class="btn btn-primary"><%=t :submit_and_go%></a>
  </div>
</div>
